# Backbone size

This notebook contains analysis of saved number of iterations by using backbones. This can be done simply by taking the ratio of backbone size and controller size.

In [1]:
import pandas as pd
import numpy as np

In [2]:
LOC = "~/Work/Data/FondAsp"
df = pd.read_csv(f"{LOC}/sat_results.csv")
df_backbone = pd.read_csv(f"{LOC}/backbone.csv")
display(df.head())
df_backbone.head()

,Unnamed: 0,domain,instance,planner,type,solved,SAT,time,memory,timeout,memoryout,policysize
0,0,acrobatics,p06,asp1-4h,asp,False,-1,14400.383668,2158.449219,True,False,36
1,1,acrobatics,p06,paladinus-4h,paladinus,True,True,3.153158,82.828125,False,False,128
2,2,acrobatics,p06,minisat-4h,fondsat,False,-1,14400.285015,1983.265625,True,False,-1
3,3,acrobatics,p06,glucose-4h,fondsat,False,-1,14399.936225,610.523438,True,False,-1
4,4,acrobatics,p06,asp2-backbone-4h,asp,False,-1,14400.779252,2543.703125,True,False,38

       domain instance  backbonesize    time
0  acrobatics      p06            34   0.868
1  acrobatics      p01             5   0.004
2  acrobatics      p03             6   0.016
3  acrobatics      p07            66   3.934
4  acrobatics      p08           100  14.454

### Average number of saved iterations

In [4]:
planner = "asp2-reg-4h"
df_asp_solved = df.query(f"solved==True and planner==@planner")

minimum_amount = 9
df_asp_counts = df_asp_solved.groupby(["domain", "planner"]).count()[["instance"]]
df_asp_counts.rename(columns={"instance": "solved"}, inplace=True)
df_asp_counts.reset_index(inplace=True)
df_asp_counts.query(f"solved>=@minimum_amount")

                   domain      planner  solved
1                   doors  asp2-reg-4h      15
3  first-responders-ipc08  asp2-reg-4h      11
4                 islands  asp2-reg-4h      60
5                   miner  asp2-reg-4h      50
6         spiky-tireworld  asp2-reg-4h       9
7         tireworld-truck  asp2-reg-4h      74

In [5]:
planner = "asp1-reg-4h"
df_asp_solved = df.query(f"solved==True and planner==@planner")

minimum_amount = 9
df_asp_counts = df_asp_solved.groupby(["domain", "planner"]).count()[["instance"]]
df_asp_counts.rename(columns={"instance": "solved"}, inplace=True)
df_asp_counts.reset_index(inplace=True)
df_asp_counts.query(f"solved>=@minimum_amount")

                   domain      planner  solved
0                   doors  asp1-reg-4h      14
2  first-responders-ipc08  asp1-reg-4h      11
3                 islands  asp1-reg-4h      60
4                   miner  asp1-reg-4h      50
5         spiky-tireworld  asp1-reg-4h       9
6         tireworld-truck  asp1-reg-4h      74

## Unsat

In [65]:
df_unsat = pd.read_csv(f"{LOC}/unsat_results.csv")
df_unsat_asp = df_unsat.query(f"planner=='asp2-backbone-4h'")

In [67]:
df_large_bb = df_backbone.query("backbonesize>90")
df_unsat_bb = df_large_bb.merge(df_unsat_asp , left_on=["domain", "instance"], right_on=["domain", "instance"], how="inner")
df_unsat_bb.instance.unique()

array(['p109', 'p100', 'p106', 'p19', 'p11', 'p16', 'p20', 'p45', 'p67',
       'p94', 'p56', 'p34', 'p33', 'p50', 'p57', 'p95', 'p66', 'p35',
       'p40', 'p83', 'p79', 'p15', 'p39', 'p99', 'p36'], dtype=object)

In [68]:
len(df_unsat_bb.instance.unique())

25

In [73]:
df_f = df_unsat.query("domain=='first-responders-ipc08'")
df_f.instance.unique()

array(['p109', 'p100', 'p106', 'p19', 'p11', 'p16', 'p20', 'p45', 'p67',
       'p94', 'p56', 'p34', 'p33', 'p50', 'p57', 'p95', 'p66', 'p35',
       'p40', 'p83', 'p79', 'p15', 'p01', 'p39', 'p99', 'p36', 'p09'],
      dtype=object)

In [74]:
len(df_f.instance.unique())

27